body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  background: lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

#featured-property p{
  margin-left: 20% ;
  margin-right:20% ;
}

#details {
  background: red;
}
#details div{
  display:inline-block;
  padding-left: 5%;
  padding-right: 5%;
}
